.box {
  position: relative;
  display: grid;
  grid-row-gap: 5px;
}

.input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;

  border: 2px solid rgb(220, 220, 220);
  border-radius: 3px;
  transition: all 0.3s linear;
}

.inputBox {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.l .input,.label {
  padding: 8px 12px;

  font-size: 16px;
  line-height: 20px;
}

.m .input,.label {
  padding: 5.5px 12px;
  font-size: 14px;
  line-height: 14px;
}

.input:focus,
.input:hover {
  border-color: rgb(82, 154, 236);
}

.label {
  padding: 3px 5px;
  color: rgba(128, 128, 128, 0.972);
}

.error {
  position: absolute;
  top: 100%;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 3px 5px;

  color: rgb(238, 92, 92);
}

.inputErrot {
  border-color: rgb(238, 92, 92);
}