/* select */

.select {
  position: relative;
}

.dropdown {
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 11;
  max-height: 200px;
  overflow: auto;
  box-shadow: 0px 4px 16px rgba(0, 26, 52, 0.1);
  background-color: #FFF;
}

.option {
  padding: 8px 16px;
  transition: all 0.3s linear;
  background-color: #FFF;
  border-bottom: 1px solid #EAEDEF;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

.option:last-child {
  border-bottom: none;
}

.option:hover,
.active {
  background-color: #E5EFFF;
}

.iconArrow {
  position: absolute;
  right: 12px;
  transform: rotateZ(0);
  transition: all 0.3s linear;
}

.iconArrow.open {
  transform: rotateZ(180deg);
}

.m .option {
  font-size: 14px;
  line-height: 14px;
  padding: 8px 12px;
}

.l .option {
  padding: 12px;
}

.xl .option {
  padding: 14px 16px;
}