.field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.fieldBox {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.area {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid rgb(220, 220, 220);
  border-radius: 3px;
  transition: all 0.3s linear;
  color: #001A34;
  font-size: 16px;
  line-height: 20px;
}

.m .input {
  font-size: 14px;
  line-height: 18px;
  padding: 5px 12px;
}

.m .textarea {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 18px;
  height: 63px;
}

.l .input {
  padding: 8px 12px;
}

.l .textarea {
  padding: 5px 12px;
  height: 84px;
}

.xl .input {
  padding: 20px 12px 8px;
}



.xl .textarea {
  padding: 20px 12px 5px;
  height: 94px;
}


.label {
  font-size: 14px;
  line-height: 18px;
  color: #808D9A;
  padding: 3px 0;
}

.xl .label {
  transition: all 0.3s linear;
  font-size: 16px;
  position: absolute;
  top: 13px;
  left: 14px;
  line-height: 20px;
  z-index: 1;
}

.xlFocused.label {
  top: 2px;
  background: #FFF;
  width: calc(100% - 31px);
  font-size: 12px;
  line-height: 20px;
}



.area:focus,
.area:hover {
  border-color: rgb(82, 154, 236);
}

.fieldErr  .area,
.fieldErr .area:focus,
.fieldErr .area:hover {
  border-color: rgb(238, 92, 92);
}

.error {  
  position: absolute;
  top: 100%;
  font-size: 12px;
  color: rgb(238, 92, 92);
  padding: 8px 0; 
}

.disabled {
  background: #F2F3F5;
  border: 2px solid #D6DBE0;
  pointer-events: none;
}

/* .xl .area::-webkit-input-placeholder {
  transition: all 0.3s linear;
  opacity: 1;
} */

/* .xl .area:focus::-webkit-input-placeholder {
  opacity: 0;
} */

.xl .area::-webkit-input-placeholder {
  visibility: hidden;
}

