
.appInner {
  display: flex;
  max-width: 1200px;
  padding: 15px;
  margin: 60px auto 0;
}

.btn {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  background: rgb(52, 152, 247);
  color: #FFF;
}

.red {
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  color: #FFF;
  background: rgb(238, 92, 92);
}

.appBox {
  width: 50%;
}

.btns {
  display: flex;
  justify-content: space-between;
}